<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to ProjectManager
      </h1>
      <h2 class="subtitle">
        Manage your projects easily and get them delivered within timeframe
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="content">
          <h3 class="title is-3">
            <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p>
              Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
          </h3>
        </div>
      </div>
      <div class="column is-4-offset1">
        <h4 class="subtitle is-4">
          Signup
        </h4>
        <% link_to 'Sign up', new_user_registration_path, class:"button is-link is-outlined" %>
      </div>
    </div>
  </div>
</section>